---
import Header from './header_footer/Header';
import Footer from './header_footer/Footer';
import Homepage from './homepage/Homepage.jsx';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HabiTrack</title>
  </head>
  <body>
    <Header client:only="react" />
    <Homepage client:only="react" />
    <Footer client:only="react" />
  </body>
</html>