---
import TrackingPageComponent from "./habits/TrackingPage.jsx";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HabiTrack</title>
  </head>
  <body>
    <TrackingPageComponent client:only="react"/>
  </body>
</html>
